@charset "utf-8";
body {
	font-family: Georgia;
	background: #fff
}

a {
	color: #f84d26
}

a:hover,
a:focus {
	color: #d23916
}

ul,
ol {
	list-style: none
}

iframe {
	border: 0
}

.jumbotron {
	position: relative;
	color: #fff
}

.masthead {
	height: 840px;
	background: url(../images/header_img1.jpg) no-repeat #000;
	overflow: hidden;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-ms-background-position-x: center!important
}

.navbar {
	background: #080c19
}

.navbar-inner {
	background: 0 0;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-top: 5px;
	filter: none;
	-ms-filter: none
}

.navbar .nav>li>a {
	color: #fff;
	text-transform: uppercase;
	text-shadow: none
}

@media (max-width: 767px){
	.navbar .nav>li>a {
		font-size: 14px;
	}
}
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
	color: #ccc
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
	background: 0 0;
	color: #f84d26;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.navbar .nav {
	padding-top: 5px
}

.navbar .btn,
.navbar .btn-group {
	margin-top: 0
}

.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #fff;
	background-color: transparent
}

.navbar li.dropdown:hover ul {
	display: block
}

.navbar .pull-right>li>.dropdown-menu,
.navbar .nav>li>.dropdown-menu.pull-right {
	top: 97%
}

.navbar-absolute+div {
	margin-top: 68px
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
	background: #ba091a;
	background-image: none
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	background: #ba091a
}

.btn {
	background: #8b8b8b;
	color: #fff;
	text-shadow: none;
	border: 0
}

.btn:hover,
.btn:focus,
.btn:active {
	background: #6f6f6f;
	color: #fff
}

.btn-med {
	font-size: 14px;
	padding: 5px 18px
}

.btn-large {
	font-size: 18px;
	padding: 20px 50px
}

.btn-success {
	background-color: #2cc76a;
	background-image: none;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25)
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background-color: #22bb5f!important;
	color: #fff!important
}

.btn-primary {
	background-color: #2db6d8;
	background-image: none;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25)
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #209ab8!important;
	color: #fff!important
}

.btn-danger {
	background-color: #e03114;
	background-image: none;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25)
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	background-color: #d62d11!important;
	color: #fff!important
}

.navbar .nav>.active>a.btn {
	background-color: #22bb5f!important;
	color: #fff!important
}

.hero-unit {
	background: 0 0;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0
}

.hero-unit h1 {
	padding-bottom: 15px;
	line-height: normal;
	font-size: 50px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.hero-unit h3 {
	font-weight: 400;
	line-height: normal;
	padding-bottom: 15px;
	font-size: 40px
}

.slide2 {
	background: 0 0;
	text-align: center;
	padding-top: 100px
}

.slide2 h1 {
	font-size: 50px
}

.slide3 {
	background: 0 0;
	text-align: center;
	padding-top: 100px
}

.slide3 h1 {
	font-size: 50px;
	padding-top: 10px
}

.slide3 h3 {
	font-size: 20px;
	padding-right: 20px
}

.fancy {
	line-height: .5;
	text-align: center
}

.fancy span {
	display: inline-block;
	position: relative
}

.fancy span:before,
.fancy span:after {
	content: "";
	position: absolute;
	height: 5px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	top: 8px;
	width: 150px
}

.fancy span:before {
	right: 100%;
	margin-right: 15px
}

.fancy span:after {
	left: 100%;
	margin-left: 15px
}

.PageHead {
	margin: 20px 0;
	text-align: center
}

.PageHead h3 {
	text-align: center;
	text-transform: uppercase
}

.PageHead h3 span {
	display: block;
	line-height: 0
}

.PageHead.inverse {
	color: #fff
}

.EventsList {
	margin-bottom: 15px
}

.EventsList .thumbnail {
	border: 0;
	text-align: center;
	text-transform: uppercase;
	box-shadow: none
}

.EventsList .thumbnail h3 {
	color: #ba091a;
	font-size: 20px;
	line-height: 1
}

.EventsList .thumbnail,
.EventsList .caption {
	margin: 0;
	padding: 0
}

.showmore {
	border: 1px #ccc solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 10px;
	color: #666
}

.showmore:hover {
	text-decoration: none;
	color: #999
}

.sectionfooter {
	margin: 30px 0
}

.about {
	color: #fff;
	background: url(../images/about_img.jpg) #000 center center;
	overflow: hidden;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-ms-background-position-x: center!important
}

.theteam {
	margin-bottom: 30px
}

.theteam img {
	cursor: pointer
}

.theteam img:hover {
	opacity: .5
}

.Gallery ul li {
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1%
}

.Gallery ul li img {
	min-width: 100%
}

.ourmedia {
	color: #fff;
	background: url(../images/media_img.jpg) #000 center center;
	overflow: hidden;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-ms-background-position-x: center!important
}

.MediaThumb {
	margin: 30px 0
}

.MediaThumb div {
	cursor: pointer
}

.MediaThumb img {
	border: solid 5px #151515;
	min-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.MediaThumb h4 {
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
	background: 0 0;
	border: solid 5px transparent;
	color: #a0a0a0
}
.MediaThumb p {
	text-align: center;
	padding: 5px 0;
	background: 0 0;
	color: white
}

.MediaThumb div:hover img {
	border: solid 5px #fff
}

.MediaThumb div:hover h4 {
	background: #fff;
	border: solid 5px #fff;
	color: #333
}

.ContactUs {
	margin-top: 25px
}

.ContactUs input[type=text],
.ContactUs input[type=email] {
	height: 50px
}

.ContactUs textarea {
	height: 150px
}

.footer {
	color: #fff;
	background: url(../images/ft2.jpg) no-repeat #000 center center;
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
	padding-bottom: 50px;
	-ms-background-position-x: center!important
}

#TwitterBlock {
	width: 100%;
	text-align: center
}

#TwitterBlock iframe {
	width: 100%;
	height: auto
}

#TwitterLogo {
	width: 50px;
	margin: 10px auto
}

#TwitterLogo img {
	max-width: 100%
}

#TwitterFooter {
	font-size: 12px;
	color: #999;
	text-align: center;
	position: relative;
	margin-top: -50px
}

.socialButtons {
	text-align: center;
	margin: 50px 0
}

.socialButtons a {
	padding: 5px
}

.socialButtons a:hover {
	opacity: .5
}

.blogpost {
	margin-bottom: 30px
}

.blogpost img {
	padding: 10px 0;
	max-width: 100%;
	min-width: 100%
}

.blog h1.title {
	font-size: 30px;
	line-height: 32px
}

.blog h3.subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 5px
}

.bloglist {
	margin: 0;
	padding: 0;
	list-style: none
}

.bloglist li {
	padding: 5px 0;
	color: #666
}

.bloglist li a {
	color: #666
}

.commentform input {
	height: 40px
}

.commentform textarea {
	height: 150px
}

.commentform p {
	text-align: right
}

.commentform .btn {
	margin-right: 0
}

.media-list p {
	margin-bottom: 30px
}

.media-list .timestamp {
	font-size: 12px;
	color: #999;
	display: block;
	padding: 5px 0
}

.pagenotfound {
	background: url(../images/404.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff
}

.pagenotfound .content404 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff
}

.pagenotfound h1 {
	font-size: 150px;
	font-weight: 700;
	margin: 50px 0
}

.comingsoon {
	background: url(../images/header_img1.jpg) no-repeat center center;
	background-size: cover;
	display: table;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff
}

.comingsoon .contentcoming {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff
}

@media(max-width:979px) {
	.hero-unit {
		padding-top: 165px;
	}
	.hero-unit h1 {
		   font-size: 50px;
	}
	.hero-unit h3 {
		font-size: 18px;
		line-height: 25px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: 400
	}
	.navbar .btn-navbar {
		margin-top: 20px;
		background: 0 0;
		text-shadow: none;
		border: 0;
		box-shadow: none
	}
	.navbar .btn-navbar:hover {
		background: 0 0
	}
	.navbar-fixed-top.navbar-absolute {
		position: absolute;
		margin: 0
	}
	.nav-collapse .nav>li>a:hover,
	.nav-collapse .nav>li>a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background: 0 0
	}
	.slide2,
	.slide3 {
		padding-top: 165px
	}
	.slide3 h1 {
		font-size: 25px
	}
	.slide3 h3,
	.slide2 h3 {
	font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
	}
}

@media(max-width:767px) {
.slide2, .slide3 {
    padding-top: 100px;
}
	.jumbotron,
	.about,
	.ourmedia {
		padding: 20px;
		margin-top: -20px;
		margin-right: -20px;
		margin-left: -20px;
		height: auto
	}
	.masthead {
		background-size: cover;
		background-attachment: scroll
	}
	.PageHead h3,
	.FeatLayout h3 {
		font-size: 20px;
		line-height: 30px;
		padding-top: 5px;
		padding-bottom: 5px
	}
	.jumbotron .navbar-fixed-top.navbar-absolute {
		top: 20px
	}
	.navbar .btn-navbar {
		margin-top: 23px
	}
	.theteam [class*=span] {
		width: 30%;
		float: left;
		margin-right: 3%;
		margin-bottom: 30px
	}
	.Gallery ul li {
		width: 50%;
		padding: 2%
	}
	.mediavideo iframe {
		width: 100%
	}
	.MediaThumb [class*=span] {
		width: 46%;
		float: left;
		margin-right: 2%
	}
	.sectionfooter {
		margin-bottom: 50px
	}
	.footer {
		padding: 20px;
		margin-bottom: -20px;
		margin-right: -20px;
		margin-left: -20px
	}

}

@media(max-width:480px) {
	.footer p{
	 font-size: 12px;
	}
	.MediaThumb p {
    font-size: 10px;
    line-height: 15px;
	}
	.hero-unit img{
		width: 235px;
	}
	.hero-unit h1 {
		font-size: 20px;
	}
	.slide2 iframe {
		width: 100%;
		height: 235px;
	}
	.mediavideo iframe {
		height: 200px;
	}
	.flex-direction-nav {
		display: none;
	}
	.hero-unit {
		padding: 0;
    padding-top: 100px;

	}
	.hero-unit h1 {
		font-size: 25px;
	}
	.fancy span:before, .fancy span:after {
    width: 50px;
	}
}

.moreevents {
	display: none;
}


.moreevents .EventsList:last-child {
	margin-bottom: 0
}

#ticker,
#ticker .query {
	font: 120% Georgia, times new roman, Times, serif;
	color: #fff;
	text-align: center
}

#ticker p {
	font-size: 120%
}

.audioembed,
.subscribe {
	padding-bottom: 25px
}

.audioembed iframe {
	z-index: -1
}

.subscribe input[type=text],
.subscribe input[type=email] {
	height: 50px;
	margin-bottom: 20px
}

.scrollup {
	width: 40px;
	height: 40px;
	opacity: .4;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
	text-indent: -9999px;
	background: url(../images/icon_top.png) no-repeat
}

.playvideo .videoload {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center
}

.playvideo {
	position: relative
}

ul {
	margin: 0;
	padding: 0
}
.aboutmore{
	display: none;
}
.readabout{
	text-align: center;
	padding: 20px; 
	margin-top: 5%;
}
.readabout2{
	text-align: center;
	padding: 20px; 
	
}
.btnrd{
       font-size: 20px;
    border-radius: 25px;
    border: 1px solid #f84d26;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
}
.btnrd:hover{
  text-decoration: none;
  color: white;
  border: 1px solid white;
}
.btnrd:focus{
	text-decoration: none; 
}
.about2 {
    color: #fff;
    background: url(../images/fnd.jpg) #000 center center;
    overflow: hidden;
    background-attachment: fixed;
    padding: 100px 15px;
    background-position: 50% 0;
    background-size: cover;
    -ms-background-position-x: center!important;
}
.about2 .row{
	display: flex;
	padding: 50px 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.about2 li{
	    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
.col-md-4{
	width: 33.33%;
}
}
@media (max-width: 767px){
	.col-12{
     width: 100%;
}
.about2 .row{
	display: block;
	}
	.lead,.about2 li {
    font-size: 16px;
}
.about2 li {
	margin: 0;
}
}
.contact-info a{
	padding-left: 8px;
	text-decoration: none;
}
.contact-info a:hover{
	text-decoration: none;
}

.text-center .sldr
{
	height: 350px;
	width: 500px;
}
@media(max-width: 991px){
	.text-center .sldr
	{
		height: 235px;
	}
}

.team {
    color: #fff;
    background: url(../images/media_img.jpg) #000 center center;
    overflow: hidden;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    -ms-background-position-x: center!important;
}
@media (max-width: 767px){
.team {
    padding: 20px;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    height: auto;
}
}
.team .rw2{
	display: flex;
	margin: 0;
	text-align: center;
}
 .team .colimg-md-1,
  .team .colimg-sm-1,
  .team .colimg-lg-1  {
    padding: 15px 10px;
  }
@media (max-width: 420px){
	.team .hidesm{
		display: none;
	}
}
@media (min-width: 320px){
	.team .rw2{
	    display: block;
	}
  .team .colimg-md-1,
  .team .colimg-sm-1,
  .team .colimg-lg-1  {
    width: 100%;
  }
}

@media (min-width: 768px){
	.team .rw2{
		display: flex;
	}
  .team .colimg-md-1,
  .team .colimg-sm-1,
  .team .colimg-lg-1  {
    width: 100%;
  }
}

@media (min-width: 992px) {
	.team .rw2{
		display: flex;
	}
  .team .colimg-md-1,
  .team .colimg-sm-1,
  .team .colimg-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .team .colimg-md-1,
  .team .colimg-sm-1,
  .team .colimg-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}